.Footer{
    position: relative;
    background-color: black;
    height: 100vh;
}
.Icone{
    filter: invert(1);
    width: 40px;
    height: 40px;
    margin:10px;
}
.Licence{
    position: absolute;
    bottom: 0px;
    margin: 5px;
}
.IcoFooter{
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-decoration: none;
    color: white;
    margin: 5px;
}
.Equipededev{
    display: flex;
    flex-direction: row;
    padding-top: 40vh;
}
.box-dev{
    height: 100%;
    width: 30%;
}.box-dev > p{
    font-size: 20px; 
}.box-dev:first-child{
    margin-left: 5%;
}

.SocialBox{
    position: relative;
    height: 80px;
}

/*Resaux sociaux show*/
.fa-image{
    width: 30px;
    filter: invert(1); 
}
.fa{
    margin: 10px;
}
